@model int

<div class="container row pt-2">
   
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Sucessfully</h1>
        Your Order Number is : @Model <br/>

      
        <img src="~/images/download.png" ialspoint border="1" style="width:128px;height:128px;">

    </div>
    <div class="col-12 text-center" style="color:moroon">
        <br/>
        Your order has been placed Sucessfully !
    </div>

</div>